name: Static Analysis

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

jobs:
  mobile-analyze:
    name: Run Mobile Analysis
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: mobile
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup Bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: Install dependencies
      run: bun install

    - name: Check project health
      run: bunx expo-doctor

    - name: Lint source code
      run: bunx expo lint

  server-analyze:
    name: Run Server Analysis
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: server
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25.x

    - name: Setup Gocyclo
      run: go install github.com/fzipp/gocyclo/cmd/gocyclo@latest

    - name: Lint source code
      uses: golangci/golangci-lint-action@v9.2.0
      with:
        working-directory: server

    - name: Check cyclomatic complexity
      run: gocyclo -over 15 .
